
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    color: #707070;
    line-height: 1.6;
}


/* TYPOGRAPHY =========================== */
h1, 
h2,
h3,
h4 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    margin: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

h4 {
    color: #1792d2;
    line-height: 1.4;
}

a {
    color: #1792d2;
}

a:hover,
a:focus {
    color: #143774;
}

p {
    font-size: 1.125rem;
    font-weight: 300;
    margin-top: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

.comment-section {
    font-size: .875rem;
    color: #707070;
    margin-top: 1em;
}

.continue-reading {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 1px;
}

.continue-reading:hover, .continue-reading:focus {
    color: #143774;
    text-decoration: underline;
}

.sidebar-title {
    color: #143774;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.widget p{
    color: #143774;
    font-size: .875rem;
    margin-bottom: 0;
    margin-top: 1em;
}

footer {
    color: rgba(255, 255, 255, .5);
    background-color: #143774;
    padding: 3em 0;
}

footer strong, footer p {
    margin: auto;
    text-align: center;
}

/* LAYOUT ============================== */
img {
    width: 100%;
    display: block;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

main {
    
}

hr {
    margin-top: 60px;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.primary-article {
    /* background-color: pink; */
    border-bottom: 1px solid #707070;
    margin-bottom: 2em;
    padding-bottom: 2em;
    display: grid;
    grid-template: 1fr max-content / auto auto auto auto;
    grid-template-areas:
        "image image"
        "comment comment"
        "title title"
        "text text"
        "read read";
}

.primary-article-title {
    margin-top: 1em;
    grid-area: title;
}

.primary-article-image {
    margin-bottom: 1em;
    grid-area: image;
}

.primary-article .comment-section {
    grid-area: comment;
    margin-top: 0;
}

.primary-article p {
    grid-area: text;
}

.continue-reading {
    grid-area: read;
}

.secondary-article {
    margin-bottom: 3em;
}

.widget {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 40px;
    min-width: 140px;
}

.widget hr {
    margin-bottom: 60px;
}

.widget h4 {
    margin-top: 1em;
}

.sidebar-primary, .sidebar-secondary {
    background-color: white;
    padding: 20px;
}

.card{
    border-bottom: 1px solid #707070;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.card:last-child {
    border: 0;
    margin: 0;
    padding: 0;
}

.card img {
    order: -1;
}

.about-me-image {
    order: -1;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1em;
}

.about-me-title {
    margin: 1em 0;
}

.about-me-subtitle {
    color: #1792d2;
    margin-bottom: .725em;
}

@media (min-width: 675px) {
    header {
        text-align: left;
    }

    main {
        
    }

    aside {
        
    }

    .primary-article {
        display: grid;
        grid-template: 1fr max-content / auto auto auto auto;
        grid-template-areas:
        "image image"
        "title comment"
        "text text"
        "read read";
    }

    .primary-article .comment-section {
        justify-self: flex-end;
    }

    .secondary-article {
        display: grid;
        grid-template: auto auto auto / 1fr 2fr;
        gap: 1em 2em;
        grid-template-areas: 
            "img title"
            "img text"
            "comment read"
    }
    
    .secondary-article img {
        width: 100%;
        min-height: 150px;
        object-fit: cover;
        grid-area: img;
    }

    .secondary-article .comment-section {
        grid-area: comment;
        margin: 0;

    }

    .secondary-article h2 {
        grid-area: title;
        margin: 0;
    }

    .secondary-article p {
        grid-area: text;
        margin: 0;
    }

    .secondary-article .continue-reading {
        grid-area: read
    }

    .left {
        object-position: left;
    }
}

/* NAVIGATION ========================= */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}